<div class="page">
  <header class="header-page">
    <div class="header-page__container _container _flex _ai-c _jc-sb _gap-32">
      <div (click)="toggleBurger()" [classList]="isMenuOpen ? 'burger-icon _active' : 'burger-icon'">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      
      <a (click)="closeBurger()" routerLink="/" class="header-page__logo _flex _ai-c _gap-18">
        <img src="../assets/img/logo.svg" alt="">
      </a>
      <nav class="header-page__menu _flex _ai-c _gap-18">
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a [routerLink]="['/catalog', 0]">Catalog</a>
        <a routerLink="/about">News</a>
      </nav>
      <a (click)="closeBurger()" routerLink="/account" class="header-page__account _flex _ai-c _gap-18">
        <span>Account</span>
        <img src="../assets/img/icons/account-icon.png" alt="">
      </a>
    </div>
  </header>
  <main class="main-page">
    <div [classList]="isMenuOpen ? 'burger-body _active' : 'burger-body'">
      <nav class="header-page__menu _flex _fd-c _ai-c _gap-18">
        <a (click)="closeBurger()" routerLink="/home">Home</a>
        <a (click)="closeBurger()" routerLink="/about">About</a>
        <a (click)="closeBurger()" [routerLink]="['/catalog', 0]">Catalog</a>
        <a (click)="closeBurger()" routerLink="/about">News</a>
        <app-sidebar (click)="closeBurger()" />
      </nav>
    </div>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer-page">
    <div class="footer-page__top">
      <div class="footer-page_container _container _flex _gap-12 _ai-c _fw-w">
        <span>Contact Us:</span>
        <a href="mailto:yevhenii.dolhyi@nure.ua" class="footer-page__mail _flex _ai-c _gap-8">yevhenii.dolhyi@nure.ua</a>
        <a href="tel:095739047" class="footer-page__phone _flex _ai-c _gap-8">+38095739047</a>
      </div>
    </div>
    <div class="footer-page__bottom">
      <div class="footer-page_container _container _flex _jc-c">
        All rights reserved {{ year }}
      </div>
    </div>
  </footer>
</div>
