.products {
  padding: 60px 0;
}
.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media(max-width: 768px) {
  .products {
    padding: 32px 0;
  }
}